#header1 {font-style: italic;  color: #660066; font-family: helvetica; font-size: 24pt;}

#header3 {color: darkviolet; font-size: 14pt;}

#paragraph {color: black; font-size: 12pt;}
 
#lista {color: darkmagenta;}

#listb {color: darkorchid;}

#img {float: left;}

#mailto {font-style: normal;}
.mailto {color: blueviolet;}

#footer {text-decoration: none;color: blueviolet; font-size: 10pt;}
